* {
    box-sizing: border-box;
}

body {
    background: #F5F7FB;
    font-family: 'Karla', sans-serif;
    background-image: url(./images/lemon-blob.png), url(./images/blue-blob.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding: 2em;
}

.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #293264;
}


.start-title {
    font-size: 35px;
    margin: 0;
    letter-spacing: 1px;
}

.start-sub {
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 25px;
}

.start-button {
    background: #4D5B9E;
    border-radius: 15px;
    width: 175px;
    height: 50px;
    color: white;
    border: none;
    cursor: pointer;
}

.start-button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.start-button:focus {
    outline: none;
}


.question {
    margin-left: 50px;
    color: #293264;
    font-size: 20px;
    line-height: 19px;
    max-width: 600px;
}

.answers {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    color: #293264;
    font-size: 12px;
    gap: 20px;
    flex-wrap: wrap;
    border-bottom: 0.8px solid #DBDEF0;
    padding-bottom: 12px;
    max-width: 600px;
}

.answer-label {
    min-width: 70px;
    min-height: 20px;
    border: 0.794239px solid #4D5B9E;
    box-sizing: border-box;
    border-radius: 7.94239px;
    padding: 0.4em 0.8em;
    background: transparent;
    font-family: 'Inter';
}



.footer {
    display: flex;
    justify-content: center;
}

.check-button {
    background: #4D5B9E;
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 42px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    font-family: 'Inter';
}

.check-button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.check-button:focus {
    outline: none;
}

.result {
    margin-top: 50px;
    font-size: 15px;
    margin-right: 25px;
}